<launch>

    <arg name="image_topic" value="/r2/head/prosilica/left/image_raw" />
	<arg name="info_topic" value="/r2/head/prosilica/left/camera_info" />
	<arg name="output_frame" default="/r2/head/prosilica/left_optical_frame" />

    <arg name="marker_size" default="5.0" />
	<arg name="max_new_marker_error" default="0.2" />
	<arg name="max_track_error" default="0.2" />
	
	<arg name="bundle_file" default="$(find ar_tracking_tools)/bundles/bag_bundle.xml" />

    <node name="ar_tracking_tools" pkg="ar_tracking_tools" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg image_topic) $(arg info_topic) $(arg output_frame) $(arg bundle_file)" />
</launch>
